@*
	-----------------------------------------------------------------------
		<copyright file="Index.cshtml" author="Dzmitry Prakapenka">
			All rights reserved.
		</copyright>
	-----------------------------------------------------------------------
*@

@model WebEngine.Web.ViewModels.Product.ProductPageView

@{
	ViewData["Title"] = Model.CategoryViewName;
}

<div class="col-sm-3">
	<div class="left-sidebar">
		<h2>filter</h2>
		<div class="panel-group category-products" id="accordian">
			@*@await Component.InvokeAsync("FilterView", new { category = Model.CategoryName })*@

			@Html.Partial("_ProductFilter", Model.FilterItems)
		</div>
	</div>
</div>
<div class="col-sm-9 padding-right">
	<div class="features_items">
		<h2 class="title text-center">@Model.CategoryViewName</h2>
		<div id="view">

		</div>
	</div>
	<div id="pagination" class="text-center"></div>
</div>


@section Scripts {
	<script>
		'use strict';

		$(document).ready(function() {
			class Filter {
				constructor(categoryId, currentPage , properties) {
					this.CategoryId = categoryId;
					this.CurrentPage = currentPage;
					this.Properties = properties;
				}
			}
			class FilterItem{
				constructor(id, value, isRange, operator) {
					this.Id = id;
					this.Value = value;
					this.IsRange = isRange;
					this.Operator = operator;
				}
			}

			let categoryId = @Model.CategoryId;

			let totalPages = @Model.TotalPages;

			let elements = @Html.Raw(Json.Serialize(Model.FilterItems.Select(m => new { PropertyId = m.PropertyId, FilterItemType = m.FilterItemType })));

			let pag = $('#pagination').simplePaginator({
				totalPages: 1,
				maxButtonsVisible: 5,
				currentPage: 1,
				firstLabel: 'First',
				lastLabel: 'Last',
				clickCurrentPage: false,
				pageChange: onSelectPage
			});

			for(let i = 0; i < elements.length; i++) {

				if(elements[i].FilterItemType == 'DropDownList'){

					$('#'+elements[i].PropertyId).change(function(){
						pag.simplePaginator('changePage', 1);
					});

				} else if(elements[i].FilterItemType == 'Range'){

					$('#first'+elements[i].PropertyId).change(function(){
						pag.simplePaginator('changePage', 1);
					});
					$('#second'+elements[i].PropertyId).change(function(){
						pag.simplePaginator('changePage', 1);
					});
				}
			}

			function GrabFilter(currentPage) {

				let model = new Filter(categoryId, currentPage, [])

				for(let i = 0; i < elements.length; i++) {
					if(elements[i].FilterItemType == 'DropDownList') {
						let value = $('#'+elements[i].PropertyId).val();
						let property = new FilterItem(elements[i].PropertyId, value, false, '=')
						model.Properties.push(property);
					} else if(elements[i].FilterItemType == 'Range'){
						let value1 = $('#first'+elements[i].PropertyId).val();
						let property1 = new FilterItem(elements[i].PropertyId, value1, true, '>')
						model.Properties.push(property1);
						let value2 = $('#second'+elements[i].PropertyId).val();
						let property2 = new FilterItem(elements[i].PropertyId, value2, true, '<')
						model.Properties.push(property2);
					}
				}

				//temp value
				//model.Properties.push(new FilterItem(4, '11', false));

				return model;
			}

			function onSelectPage (page) {
				//saveHistory(document.location, page);

				let model = GrabFilter(page);
				Send(model);
			}

			function Send(model) {
				let filter = JSON.stringify(model);

				$.ajax({
					type: 'POST',
					url: '/Product/Index',
					contentType: 'application/json; charset=utf-8',
					data: filter
				}).success(function (data) {
					var domElement = $(data);
					$('div#view').replaceWith(domElement);

					pag.simplePaginator('setTotalPages', $('#totalPages').val());

				}).fail(function (data) {
					alert("I'm sorry. An error occurred while processing your request.");
				});
			}

			onSelectPage(1);

			//function saveHistory(url, page) {
			//	let u = url.origin + url.pathname +'#page='+page;
			//	window.history.pushState(null, null, u);
			//}

			//$(window).bind('popstate', function () {
			//	document.location.href = location.pathname;
			//});
		});
	</script>
}