@*
	-----------------------------------------------------------------------
		<copyright file="Product.cshtml" author="Dzmitry Prakapenka">
			All rights reserved.
		</copyright>
	-----------------------------------------------------------------------
*@
@using WebEngine.Web.ViewModels.Product
@model WebEngine.Web.ViewModels.Product.FullProductView

<div class="col-sm-3">
	<div class="left-sidebar">
		@await Component.InvokeAsync("CategoryList")
	</div>
</div>
<div class="col-sm-9 padding-right">
	<div class="features_items">
		<h2 class="title text-center">@Model.ProductName</h2>
		<div class="product-details col-sm-9">
			<div class="col-sm-6">
				<div class="view-product">
					@*<img src="images/product-details/1.jpg" alt="" />*@
					<h3>ZOOM</h3>
				</div>
				<div id="similar-product" class="carousel slide" data-ride="carousel">

					<div class="carousel-inner">
						@*<div class="item active">
								<a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
								<a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
								<a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
							</div>
							<div class="item">
								<a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
								<a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
								<a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
							</div>
							<div class="item">
								<a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
								<a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
								<a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
							</div>*@
					</div>

					<a class="left item-control" href="#similar-product" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="right item-control" href="#similar-product" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="product-information">
					@Model.ProductName
				</div>
			</div>

			<div class="col-sm-12">
				<br />
				<table class="table table-bordered">
					@foreach (ProductPropertyView property in Model.Properties)
					{
						<tr>
							<td>@property.PropertyName</td>
							<td>@property.Value @property.SizeValue</td>
						</tr>
					}
				</table>
			</div>
		</div>
		<div class="col-sm-3">
			<a asp-action="SaveOffer" asp-controller="ProductOffer" asp-route-productId="@Model.ProductId">Add Offer</a>

			@await Component.InvokeAsync("OfferComponent", new { productId = Model.ProductId })
		</div>
	</div>
</div>
