@*
	-----------------------------------------------------------------------
		<copyright file="Profile.cshtml" author="Dzmitry Prakapenka">
			All rights reserved.
		</copyright>
	-----------------------------------------------------------------------
*@

@model ProfileView
@{
	ViewData["Title"] = "Register";
}
<table class="table">
	<tr>
		<td>User Id</td>
		<td>@Model.UserId</td>
	</tr>
	<tr>
		<td>User name</td>
		<td>@Model.UserName</td>
	</tr>
	<tr>
		<td>Role name</td>
		<td>@Model.RoleName</td>
	</tr>
	<tr>
		<td>Register Date</td>
		<td>@Model.RegisterDate</td>
	</tr>
</table>

@if (Model.Stores.Count() > 0 )
{
	<table class="table">
		@foreach (UserStoreView item in Model.Stores)
		{
			<tr>
				<td>@item.StoreId</td>
				<td><a asp-action="GetStore" asp-controller="Store" asp-route-storeId="@item.StoreId">@item.StoreName</a></td>
				<td>@item.CreationDate</td>
			</tr>
		}
	</table>
}
else
{
	<a asp-controller="Store" asp-action="CreateStore">Create Store</a>
}
