@*
	-----------------------------------------------------------------------
		<copyright file="Profile.cs" author="Dzmitry Prakapenka">
			All rights reserved.
		</copyright>
	-----------------------------------------------------------------------
*@

@model WebEngine.Web.ViewModels.Product.ProductFilterView

<div id="filter">
	@for (int i = 0; i < Model.Items.Count; i++)
	{
		@if (Model.Items[i].FilterItemType == "DropDownList")
		{
			<label class="control-label">@Model.Items[i].Property.Name</label>

			<select id="@Model.Items[i].PropertyId" class="form-control">
				@foreach (var item in Model.Items[i].ProductFilterItemValues)
				{
					<option value="@item.Value">@item.Value</option>
				}
			</select>
		}
		else if (Model.Items[i].FilterItemType == "Range")
		{
			<label class="control-label">@Model.Items[i].Property.Name</label>

			<div id="@Model.Items[i].PropertyId">
				<div class="input-group">
					<input type="text" id="@string.Concat("first", Model.Items[i].PropertyId)" class="first form-control" />
					<span class="input-group-addon">-</span>
					<input type="text" id="@string.Concat("second", Model.Items[i].PropertyId)" class="second form-control" />
				</div>
			</div>
		}
	}
</div>

@*<script>

	var elements = @Html.Raw(Json.Serialize(Model.Items.Select(m => new
				  {
					  PropertyId = m.PropertyId,
					  FilterItemType = m.FilterItemType
				  })));

	for(let i = 0; i < elements.length; i++) {

		if(elements[i].FilterItemType == 'DropDownList'){

			$('#'+elements[i].PropertyId).change(function(){
				let value = $('#'+elements[i].PropertyId).val();

				var model = {
					Category: "SmartPhone",
					Properties: [
						{ "Id": elements[i].PropertyId, "Value": value, "IsRange" : false },
						//{ "Id": 4, "Value": "11", "IsRange" : false }
					],
				}

				var filter = JSON.stringify(model)

				$.ajax({
					type: 'POST',
					url: '/Product/Index',
					contentType: 'application/json; charset=utf-8',
					data: filter
				}).success(function (data) {
					alert("ok");
				}).fail(function (data) {
					alert("ошибка");
				});
			});

		} else if(elements[i].FilterItemType == 'Range'){


		}
	}

</script>*@

